html {
  box-sizing: border-box;/* padding inside----border outside----for box sizing*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  ---------------Box Sizing-----------------  */


/*-----------Utlity Classes----------------------*/
.container{
  width: 80vw;
  max-width:960px;  
  margin: 40px auto;  
}

*  ---------------Responsive Images----------------- */
img{
  max-width:100%;
}


/*  ---------------Global Styles----------------- */
body {
  background-color: #ffffff;
  font-family: "Alan Sans", sans-serif;
  margin: 0;
}

header.primary{ /**/
    background:gold;
    color:#ffffff;    
    text-align:center;
    text-shadow: 1px 1px #000000;

    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    /*short hand single value*/
    padding: 40px;

    /* Top,Right,Bottem,Left */
    padding: 20px 40px 20px 40px;

     /* Two Value Top/Bottom / Left/Right */
    padding: 20px 40px;
}

header.primary h1{
    font-size: 2.4rem;
    color:#ffffff;
    /* top | left and right | bottom */
    margin: 20px 0 0;
}

header.primary a{/*to target hyperlinks*/
    color:#ffffff;
    text-decoration: none;/*for adding or removing text decorations*/
}

header.primary h2{
  font-size: 1.3rem;
  letter-spacing: 3px;
  margin: 0;
}

header.primary nav{
  
}

header.primary nav ul{
  padding: 0;
  /*flex box*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header.primary nav li{
  list-style-type: none;/*for list bullets*/
  margin: 10px;
}

header.primary nav a{
  color: #ffffff;
  font-size: .9rem;
  background-color: rgb(0, 0, 0, .4);/*opac colors*/
  padding: 5px 7.5px;
  border-radius: 15px;
  border: 1px solid #c0c0c0;
  transition:10.4s;
}

header.primary nav a:hover{
  background-color: rgb(0, 0, 0, .8);
}

#intro h2{
  color:goldenrod;
 border-bottom: 1px dotted #c0c0c0;
}

#content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

#content .post{
  box-shadow: 0 4px 8px rgb(0, 0, 0, .6);
  padding: 10px;
  font-size: .8rem;
}

#content time, figcaption{ /*--to target mutiple elements use ","--*/
  text-transform: uppercase;
  font-size: .6rem;
}

#content a{
  color:gold;
}


figure{margin:0;}

/*-------------Media Queries-----------------*/
@media screen and (max-width:600px){

  header.primary nav ul{
  flex-direction:column;
  gap: 20px;
  }
  
  header.primary nav a {
    display:block;
  } 
  
}